# .vscodeignore

# Exclure tout ce qui n'est pas nécessaire dans le .vsix
node_modules/**
src/**
.vscode/**
tsconfig.json
esbuild.js
*.ts
*.map
.gitignore
.github/

# Ne pas exclure le dist (très important !)
!dist/
!dist/extension.js
talan-xlf-tests.js
